<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
  <link rel="stylesheet" href="main.css">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" 
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" 
    integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" 
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="nav.js"></script>
  <script src="util.js"></script>
  <script src="books/books.js"></script>
  <script src="tech/tech.js"></script>
  <script src="go/go.js"></script>

  <title>Alpha Space</title>
</head>

<body>
  <header class="navbar navbar-expand-md navbar-light bg-light"></header>

  <div class="container">

    <div class="m-5 p-5 title">
      <h1>包太雷</h1>
      <div class="text-muted">Alpha Space</div>
    </div>

    <div id="book-news" class="my-3 p-3 bg-white border rounded shadow-sm">
      <div class="media py-3 border-bottom border-gray">
        <span class="section-icon">📖</span>
        <h5 class="section-header">书山有路</h5>
      </div>

      <news-item v-for="item in news" v-bind:item="item" v-bind:key="item.title"></news-item>

      <small class="d-block text-right mt-3">
        <a href="books/books.html">更多</a>
      </small>
    </div>

    <div id="go-news" class="my-3 p-3 bg-white border rounded shadow-sm">
      <div class="media py-3 border-bottom border-gray">
        <span class="section-icon">⚪</span>
        <h5 class="section-header">围棋天地</h5>
      </div>
  
      <news-item v-for="item in news" v-bind:item="item" v-bind:key="item.title"></news-item>
    </div>
  
    <div id="tech-news" class="my-3 p-3 bg-white border rounded shadow-sm">
      <div class="media py-3 border-bottom border-gray">
        <span class="section-icon">💻</span>
        <h5 class="section-header">电脑技术</h5>
      </div>

      <news-item v-for="item in news" v-bind:item="item" v-bind:key="item.title"></news-item>
    </div>

    <div id="tech-news" class="my-3 p-3 bg-white border rounded shadow-sm">
      <div class="media py-3 border-bottom border-gray">
        <span class="section-icon">🌎</span>
        <h5 class="section-header">国计民生</h5>
      </div>

      <news-item v-for="item in news" v-bind:item="item" v-bind:key="item.title"></news-item>
    </div>

  </div>

  <script>
    $(() => {
      $('header.navbar').append(bao.nav.getNavbar('主页', 0));

      bao.util.initVue();

      var bookNews = new Vue({
        el: '#book-news',
        data: () => {
          var news = [],
              list = bao.util.sortByCol(bao.books.listWithReviews(), bao.books.colMap.get('阅毕'), true);

          list = list.slice(0, Math.min(3, list.length));
          list.forEach(e => {
            var book = {};
            book.title = e[bao.books.colMap.get('书名')],
            book.date = e[bao.books.colMap.get('阅毕')],
            book.link = `books/${e[bao.books.colMap.get('链接')]}.html`;
            news.push(book);
          });

          return { news: news };
        }
      });

      var goNews = new Vue({
        el: '#go-news',
        data: { news: bao.go.news }
      });

      var techNews = new Vue({
        el: '#tech-news',
        data: { news: bao.tech.news }
      });

    });
  </script>
</body>
</html>
