<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
  <link rel="stylesheet" href="main.css">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" 
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" 
    integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" 
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="nav.js"></script>
  <script src="util.js"></script>
  <script src="books/books.js"></script>
  <script src="go/go.js"></script>
  <script src="tech/tech.js"></script>
  <script src="life/life.js"></script>

  <title>Alpha Space</title>
</head>

<body>
  <header class="navbar navbar-expand-md navbar-light bg-light"></header>

  <div class="container">

    <div class="title">
      <h1>包太雷</h1>
      <div class="text-muted">Alpha Space</div>
    </div>

    <div id="book-news" class="news-box">
      <news-box icon="📖" title="书山有路">
        <news-item v-for="item in news" v-bind:item="item" v-bind:key="item.title"></news-item>
        <news-foot url="books/books.html"></news-foot>
      </news-box>
    </div>

    <div id="go-news" class="news-box">
      <news-box icon="⚪" title="围棋方圆">
        <news-item v-for="item in news" v-bind:item="item" v-bind:key="item.title"></news-item>
        <news-foot url="go/go.html"></news-foot>
      </news-box>
    </div>

    <div id="tech-news" class="news-box">
      <news-box icon="💻" title="电脑技术">
        <news-item v-for="item in news" v-bind:item="item" v-bind:key="item.title"></news-item>
      </news-box>
    </div>

    <div id="life-news" class="news-box">
      <news-box icon="🌎" title="国计民生">
        <news-item v-for="item in news" v-bind:item="item" v-bind:key="item.title"></news-item>
        <news-foot url="life/life.html"></news-foot>
      </news-box>
    </div>

  </div>

  <script>
    $(() => {
      $('header.navbar').append(bao.nav.getNavbar('主页', 0));

      bao.util.initVue();

      new Vue({
        el: '#book-news',
        data: () => {
          var news = [],
              colMap = bao.util.getColMap(bao.books.cols);
              list = bao.util.sortByCol(bao.books.reviewedBooks(), colMap.get('阅毕'), true);

          list = list.slice(0, Math.min(3, list.length));
          list.forEach(e => {
            var book = {};
            book.title = e[colMap.get('书名')],
            book.date = e[colMap.get('阅毕')],
            book.url = `books/${e[colMap.get('链接')]}.html`;
            news.push(book);
          });

          return { news: news };
        }
      });

      var goNews = new Vue({
        el: '#go-news',
        data: () => { 
          //var news = bao.util.sortByProp(bao.go.news, 'date', true);
          var news = bao.go.news;
          news = news.slice(0, Math.min(3, news.length));
          return { news: news };
        }
      });

      var techNews = new Vue({
        el: '#tech-news',
        data: { news: bao.tech.news }
      });

      new Vue({ 
        el: '#life-news',
        data: () => { 
          var news = bao.util.sortByProp(bao.life.news, 'date', true);
          news = news.slice(0, Math.min(3, news.length));
          return { news: news };
        }
      });
    });
  </script>
</body>
</html>
