/* structures */
h2 {
  padding: 20px 0;
}

h3 {
  padding: 16px 0;
}

p {
  text-indent: 2em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.title {
  margin: 24px auto;
  padding: 16px;
  text-align: center;
}

.section-icon {
  width: 32px;
  height: 32px;
  margin: 0 4px;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.25rem;
  color: white;
  border-radius: 4px;
}

.section-header {
  line-height: 32px;
  margin-bottom: 0;
}

.bg-black {
  background-color: #333;
}

.bg-blue {
  background-color: cornflowerblue
}
