/* structures */
body {
  counter-reset: part chapter section footnote;
}

h2 {
  padding: 20px 0;
}

h2.part::before {
  counter-increment: part;
  content: "第" counter(part) "部分 ";
}

h3 {
  padding: 16px 0;
}

p {
  text-indent: 2em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.footnote:before {
  counter-increment: footnote;
  content: counter(footnote);
}

sup {
  padding-left: 4px;
}

q {
  font-style: italic;
}

blockquote {
  margin-bottom: 48px;
}

blockquote p {
  padding: 16px;
  background: #eee;
  border-radius: 4px;
}

blockquote footer {
  padding-right: 48px;
  text-align: right;
}

blockquote footer::before {
  content: "-- "
}

.title {
  margin: 3rem auto;
  padding: 3rem;
  text-align: center;
}

.author {
  padding: 24px;
  color: #696969;
  text-align: center;
  line-height: 24px;
}

.news-box {
  max-width: 800px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.news-header, .news-item {
  padding: .5rem 0;
  border-bottom: 1px solid #dee2e6;
  display: flex;
}

.news-item {
  justify-content: space-between;
}

/* tables */
.datatable-wrapper {
  margin: 3rem auto;
}

table.figures {
  margin: 24px auto;
  text-align: center;
  border-collapse: separate;
  border-spacing: 4px;
}

table caption {
  caption-side: top;
  text-align: center;
}

th { text-align: center; }

.section-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.25rem;
  color: white;
  border-radius: 4px;
}

.section-header {
  /* line-height: 32px; */
  margin-bottom: 2px;
}

.bg-black {
  background-color: #333;
}
