/* structures */
body {
  counter-reset: part chapter section footnote;
}

h2.part::before {
  counter-increment: part;
  content: "第" counter(part) "部分 ";
}

h2 {
  padding: 20px 0;
}

h3 {
  padding: 16px 0;
}

p {
  text-indent: 2em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.footnote:before {
  counter-increment: footnote;
  content: counter(footnote);
}

sup {
  padding-left: 4px;
}

q {
  font-style: italic;
}

blockquote {
  margin-bottom: 48px;
}

blockquote p {
  padding: 16px;
  background: #eee;
  border-radius: 4px;
}

blockquote footer {
  padding-right: 48px;
  text-align: right;
}

blockquote footer::before {
  content: "--"
}

.author {
  padding: 24px;
  color: #696969;
  text-align: center;
  line-height: 24px;
}

/* tables */
table.figures {
  margin: 24px auto;
  text-align: center;
  border-collapse: separate;
  border-spacing: 4px;
}

table caption {
  caption-side: top;
  text-align: center;
}

th { text-align: center; }

/* misc */
.tooltip-inner {
  text-align: left;
}

.dataTables_wrapper {
  font-size: 11px;
}

@media (min-width: 576px) {
  .dataTables_wrapper {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .dataTables_wrapper {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .dataTables_wrapper {
    font-size: 1rem; /* 16px */
  }
}
