/* misc */
.tooltip-inner {
  text-align: left;
}

.dataTables_wrapper {
  font-size: 11px;
}

@media (min-width: 576px) {
  .dataTables_wrapper {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .dataTables_wrapper {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .dataTables_wrapper {
    font-size: 1rem; /* 16px */
  }
}
