body {
  margin: 16px auto;
}

div.center {
 text-align: center;
}

div.inline {
  display: inline-block;
  vertical-align: middle;
}

div.speech-types {
  text-align: left;
  font-size: large;
}

.timer-wrap {
  text-align: center;
  padding: 8px;
  input, button {
    width: 100px;
    margin-left: 16px;
    text-align: center;
    font-size: x-large;
  }
}

.circle {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 500%;
}

.timer-light {
  width: 128px;
  height: 128px;
}

.red {
  border: solid red 2px;
  &.active {
    background-color: red;
  }
}

.green {
  border: solid green 2px;
  &.active {
    background-color: green;
  }
}

.orange {
  border: solid orange 2px;
  &.active {
    background-color: orange;
  }
}
